[Unit]
Description=Graphite
After=carbon.service
Requires=carbon.service

[Service]
ExecStartPre=/usr/bin/docker pull ejholmes/graphite
ExecStart=/usr/bin/docker run --rm --name graphite -p 80:80 --volumes-from carbon ejholmes/graphite
ExecStop=/usr/bin/docker kill graphite

[Install]
WantedBy=graphite.target

[X-Fleet]
X-ConditionMachineOf=carbon.service
