[Unit]
Description=StatsD
After=carbon.service
Requires=carbon.service

[Service]
ExecStartPre=/usr/bin/docker pull ejholmes/statsd
ExecStart=/usr/bin/docker run --rm --name statsd --env ETCD=http://%H:4001 -p 8126:8126 -p 8125:8125/udp ejholmes/statsd
ExecStop=/usr/bin/docker kill statsd

[Install]
WantedBy=graphite.target
